/* ===========================
   Header
=========================== */

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 10px;

    background: #fff;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* ===========================
   Logo
=========================== */

.site-branding {
    display: flex;
    align-items: center;
    gap: 20px;

    flex-shrink: 0;
}

.custom-logo {
    width: 90px;
    height: auto;
}

.site-title {
    margin-left: -28px;
}

.site-title a {
    text-decoration: none;

    color: #067647;

    font-size: 33px;

    font-weight: 700;
}

.site-title a:hover {
    color: #055c38;
}

.site-description {
    display: none;
}

/* ===========================
   Header Right
=========================== */

.header-right {
    display: flex;

    align-items: center;
}

/* ===========================
   Navigation
=========================== */

.main-navigation {
    display: flex;

    justify-content: flex-end;

    margin-right: 16px;
}

.nav-menu {
    display: flex;

    align-items: center;

    gap: 35px;

    list-style: none;

    margin: 0;

    padding: 0;
}

.nav-menu li {
    list-style: none;
}

.nav-menu a {
    text-decoration: none;

    color: #222;

    font-size: 17px;

    font-weight: 600;

    transition: 0.3s;
}

.nav-menu a:hover {
    color: #067647;
}

/* ===========================
   Cart
=========================== */

.cart-menu {
    display: flex;

    align-items: center;
}

.cart-link {
    position: relative;

    display: flex;

    align-items: center;

    justify-content: center;
}

.cart-icon {
    width: 30px;

    height: 30px;

    object-fit: contain;

    transition: transform 0.25s ease;
}

.cart-link:hover .cart-icon {
    transform: scale(1.08);
}

.cart-count {
    position: absolute;

    top: -8px;

    right: -8px;

    width: 20px;

    height: 20px;

    border-radius: 50%;

    background: #067647;

    color: #fff;

    font-size: 11px;

    font-weight: 700;

    display: flex;

    align-items: center;

    justify-content: center;

    line-height: 1;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

/* ===========================
   Desktop
=========================== */

.menu-toggle {
    display: none;
}