/* ==========================================
   User Menu
========================================== */

.user-menu {

    position: relative;

    display: flex;

    align-items: center;

    justify-content: center;

    list-style: none;

    flex: 0 0 auto;
}

/* ==========================================
   User Icon
========================================== */

.user-icon {

    width: 30px;

    height: 30px;

    border-radius: 50%;

    object-fit: cover;

    display: block;

    cursor: pointer;
}

/* ==========================================
   Dropdown
========================================== */

.user-dropdown {

    position: absolute;

    top: calc(100% + 4px);

    left: 50%;

    transform: translateX(-50%);

    width: 110px;

    background: #fff;

    border-radius: 10px;

    box-shadow: 0 10px 25px rgba(0,0,0,.15);

    opacity: 0;

    visibility: hidden;

    transition: opacity .25s ease,
                visibility .25s ease,
                transform .25s ease;

    z-index: 9999;

    overflow: hidden;
}

/* Show dropdown */

.user-menu:hover .user-dropdown {

    opacity: 1;

    visibility: visible;

    transform: translateX(-50%);
}

/* Links */

.user-dropdown a {

    display: block;

    padding: 12px 18px;

    color: #333;

    text-decoration: none;

    font-weight: 500;

    transition: .25s;
}

.user-dropdown a:hover {

    background: #067647;

    color: white;
}